body {
    background-color: lightblue;
}

h1 {
    font-size: x-large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

p {
    font-size: medium;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}